In [22]:
import pandas as pd
from pandas import DataFrame
import sqlite3

In [23]:
conn = sqlite3.connect('nba.db')
c = conn.cursor()

In [24]:
nba_2017_real_plus_minus = pd.read_csv('nba_2017_real_plus_minus.csv')
nba_2017_real_plus_minus.to_sql('nba_2017_real_plus_minus', conn, if_exists='replace', index = False)

In [25]:
nba_2016_2017_100 = pd.read_csv('social-power-nba data/nba_2016_2017_100.csv')
nba_2016_2017_100.to_sql('nba_2016_2017_100', conn, if_exists='replace', index = False)

In [26]:
nba_2017_att_val = pd.read_csv('social-power-nba data/nba_2017_att_val.csv')
nba_2017_att_val.to_sql('nba_2017_att_val', conn, if_exists='replace', index = False)

c:\users\skinnms\appdata\local\programs\python\python36\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [27]:
nba_2017_att_val_elo = pd.read_csv('social-power-nba data/nba_2017_att_val_elo.csv')
nba_2017_att_val_elo.to_sql('nba_2017_att_val_elo', conn, if_exists='replace', index = False)

In [28]:
nba_2017_att_val_elo_with_cluster = pd.read_csv('social-power-nba data/nba_2017_att_val_elo_with_cluster.csv')
nba_2017_att_val_elo_with_cluster.to_sql('nba_2017_att_val_elo_with_cluster', conn, if_exists='replace', index = False)

In [29]:
nba_2017_attendance = pd.read_csv('social-power-nba data/nba_2017_attendance.csv')
nba_2017_attendance.to_sql('nba_2017_attendance', conn, if_exists='replace', index = False)

In [30]:
nba_2017_br = pd.read_csv('social-power-nba data/nba_2017_br.csv')
nba_2017_br.to_sql('nba_2017_br', conn, if_exists='replace', index = False)

In [31]:
nba_2017_elo = pd.read_csv('social-power-nba data/nba_2017_elo.csv')
nba_2017_elo.to_sql('nba_2017_elo', conn, if_exists='replace', index = False)

In [32]:
nba_2017_endorsements = pd.read_csv('social-power-nba data/nba_2017_endorsements.csv')
nba_2017_endorsements.to_sql('nba_2017_endorsements', conn, if_exists='replace', index = False)

In [33]:
nba_2017_nba_players_with_salary = pd.read_csv('social-power-nba data/nba_2017_nba_players_with_salary.csv')
nba_2017_nba_players_with_salary.to_sql('nba_2017_nba_players_with_salary', conn, if_exists='replace', index = False)

In [34]:
nba_2017_pie = pd.read_csv('social-power-nba data/nba_2017_pie.csv')
nba_2017_pie.to_sql('nba_2017_pie', conn, if_exists='replace', index = False)

In [35]:
nba_2017_player_wikipedia = pd.read_csv('social-power-nba data/nba_2017_player_wikipedia.csv')
nba_2017_player_wikipedia.to_sql('nba_2017_player_wikipedia', conn, if_exists='replace', index = False)

In [36]:
nba_2017_players_stats_combined = pd.read_csv('social-power-nba data/nba_2017_players_stats_combined.csv')
nba_2017_players_stats_combined.to_sql('nba_2017_players_stats_combined', conn, if_exists='replace', index = False)

In [37]:
nba_2017_players_with_salary_wiki_twitter = pd.read_csv('social-power-nba data/nba_2017_players_with_salary_wiki_twitter.csv')
nba_2017_players_with_salary_wiki_twitter.to_sql('nba_2017_players_with_salary_wiki_twitter', conn, if_exists='replace', index = False)

In [38]:
nba_2017_team_valuations = pd.read_csv('social-power-nba data/nba_2017_team_valuations.csv')
nba_2017_team_valuations.to_sql('nba_2017_team_valuations', conn, if_exists='replace', index = False)

In [39]:
conn.commit()

In [46]:
# test
c.execute('''SELECT * FROM nba_2017_players_with_salary_wiki_twitter''')
df = DataFrame(c.fetchall())
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,1,Russell Westbrook,PG,28,34.6,10.2,24.0,0.425,2.5,...,-0.47,6.27,17.34,23.0,102.31,46,26.50,4279.0,2130.5,559.0
1,1,2,James Harden,PG,27,36.4,8.3,18.9,0.440,3.2,...,-1.57,4.81,15.54,19.0,102.98,54,26.50,3279.0,969.0,321.5
2,2,4,Anthony Davis,C,23,36.1,10.3,20.3,0.505,0.5,...,3.90,4.35,12.81,19.2,100.19,31,22.12,82.5,368.0,104.0
3,3,6,DeMarcus Cousins,C,26,34.2,9.0,19.9,0.452,1.8,...,0.64,4.20,11.26,17.8,97.11,30,16.96,1625.5,102.0,91.5
4,4,7,Damian Lillard,PG,26,35.9,8.8,19.8,0.444,2.9,...,-1.49,3.14,10.72,15.9,99.68,38,24.33,1830.5,186.5,43.0