In [1]:
import sqlite3
import pandas as pd

In [69]:
con = sqlite3.connect("nba.db")
df = pd.read_sql_query("SELECT TEAM, AVG(AGE) from nba_2017_pie GROUP BY TEAM", con)

In [70]:
df.head()

  TEAM   AVG(AGE)
0  ATL  28.500000
1  BKN  26.555556
2  BOS  25.733333
3  CHA  25.823529
4  CHI  26.000000

In [77]:
df1 = round(df1['AVG(AGE)'])

In [78]:
df1.head()

0    28.0
1    27.0
2    26.0
3    26.0
4    26.0
Name: AVG(AGE), dtype: float64

In [79]:
values = df1["AGE"].values.tolist()

KeyError: 'AGE'

In [80]:
print(values)

[32, 30, 22, 22, 23, 28, 22, 30, 25, 22, 22, 24, 20, 37, 22, 24, 34, 29, 24, 29, 28, 24, 27, 29, 23, 21, 23, 25, 21, 24]